<mat-toolbar>
    <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
        <div class="container">
            <ul class="nav navbar-nav" routerLinkActive="active">
                <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="leagues">Leagues</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="teams">Teams</a></li>
            </ul>
        </div>
    </nav>
    <section class = "logo_text_container">
        <h1 class = "logo_text">
            MAKE FOOTBALL
            <div class = "text_orange">GREAT AGAIN</div>
        </h1>
    </section>
</mat-toolbar>
